include includes/head.pug
body
    h1 Welcome to the contacts page
    container
        table.table
            tr
                th Name
                th Address
                th Phone
                th Email
                th Contact By Phone
                th Contact By Email
                th Contact By Mail
                th Edit
                th Delete
            each person in people
                tr
                    td.name #{person.title + " " + person.firstName + " " + person.lastName}
                    td.address #{person.address}
                    td.phone #{person.phone}
                    td.email #{person.email}
                    if person.cbPhone || person.any
                        td Yes
                    else
                        td No
                    if person.cbEmail || person.any
                        td Yes
                    else
                        td No
                    if person.cbMail || person.any
                        td Yes
                    else
                        td No
                    td
                        form(action="/contacts/" + person._id, method="GET")
                            button.btn.btn-success(type="submit")
                                span.glyphicon.glyphicon-pencil
                    td
                        form(action="/contacts/" + person._id + "/delete", method="POST")
                            button.btn.btn-danger(type="submit")
                                span.glyphicon.glyphicon-trash
                    td.hidden.lat #{person.lat}
                    td.hidden.lng #{person.lng}
                    td.hidden.id #{person._id}
                    
    p
        a(href="/mailer") Mailer
    #mapContainer
        div#map 
include /includes/foot.pug